@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?5dec26c17146a0cefe7d5ad2144e7028") format("truetype"),
url("./flaticon.woff?5dec26c17146a0cefe7d5ad2144e7028") format("woff"),
url("./flaticon.woff2?5dec26c17146a0cefe7d5ad2144e7028") format("woff2"),
url("./flaticon.eot?5dec26c17146a0cefe7d5ad2144e7028#iefix") format("embedded-opentype"),
url("./flaticon.svg?5dec26c17146a0cefe7d5ad2144e7028#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-right-arrow:before {
    content: "\f101";
}
.flaticon-calendar:before {
    content: "\f102";
}
.flaticon-video-call:before {
    content: "\f103";
}
.flaticon-venue:before {
    content: "\f104";
}
.flaticon-video-call-1:before {
    content: "\f105";
}
.flaticon-check:before {
    content: "\f106";
}
.flaticon-map-pin:before {
    content: "\f107";
}
.flaticon-coupon:before {
    content: "\f108";
}
.flaticon-payment-method:before {
    content: "\f109";
}
.flaticon-organization:before {
    content: "\f10a";
}
.flaticon-calendar-event:before {
    content: "\f10b";
}
.flaticon-reporter:before {
    content: "\f10c";
}
.flaticon-like:before {
    content: "\f10d";
}
.flaticon-salary:before {
    content: "\f10e";
}
.flaticon-online-streaming:before {
    content: "\f10f";
}
.flaticon-password-code:before {
    content: "\f110";
}
.flaticon-pen:before {
    content: "\f111";
}
