


@media (min-width: 992px){
    .text-lg-right {
        text-align: left!important;
    }
}
@media only screen and (max-width: 991px){
    .main-menu .navigation li{
        float: none;
    }
        .about-image-part{
            padding-left: 0;
        }
}
@media only screen and (max-width: 480px){
    .comment-list .children {
        margin-right: 25px;
    }
}
